@model WebApp.Models.Domains.Credits.CreditViewModel
@{
    ViewBag.Title = "Show";
}

<div class="row lb-margin">
    <div class="row">
        <div class="row">
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.Number)</td>
                <td>@Model.Number</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Status)</td>
                @if (Model.Status.Equals("0"))
                {
                    <td><span class="label label-success">Open</span></td>
                }
                @if (Model.Status.Equals("1"))
                {
                    <td><span class="label label-success">Closed</span></td>
                }
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.DateStart)</td>
                <td>@Model.DateStart.ToString("D")</td>
            </tr>
            <tr>
            <tr>
                <td>@Html.LabelFor(m => m.Percent)</td>
                <td>@Model.Percent</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.StartSum)</td>
                <td>@Model.StartSum</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.AllSum)</td>
                <td>@Model.AllSum</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.PayCount)</td>
                <td>@Model.PayCount</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Person)</td>
                <td>
                    <a href="@Url.Action("UserInfo", "User", new {id = Model.Person.Id})">@Model.Person.SecondName @Model.Person.Name @Model.Person.LastName</a>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.CurrentDept)</td>
                @if (Model.CurrentDept != 0)
                {
                    <td style="color: red">@Model.CurrentDept</td>
                }
                else
                {
                    <td style="color: green">@Model.CurrentDept</td>
                }
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a class="btn btn-primary" href="@Url.Action("ShowCreditHistory", "Credits", new {CreditId = Model.Id})">Show Credit History</a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $body = $("body");

        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });

        jQuery(document).ready(function($) {
            $('#user_info').click(function () {
                $("#user_info_table").collapse('toggle');
            });

        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
