@model WebApp.Models.Domains.Credits.CreditTypeViewModel
    
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">&times;</button>
        <h4>User Info</h4>
    </div>
    <div class="modal-body">
        @using (Ajax.BeginForm("Create", new AjaxOptions
        {
            UpdateTargetId = "dialogContent",
            HttpMethod = "POST"
        }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.ValidationSummary("", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name)

                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PayCount)
                @Html.TextBoxFor(m => m.PayCount, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Percent)
                @Html.TextBoxFor(m => m.Percent, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StartSumPercent)
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Info)
                @Html.EditorFor(m => m.Info, new {htmlAttributes = new {@class = "form-control"}})
            </div>
            <Br/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Create"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <div class="form-group">
                <div id="create_result" class="alert alert-dismissable fade-in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
    </div>
    <script type="text/javascript">
        $("form").submit(function (e) {

            var url = "@Url.Action("Create", "CreditTypes")";

            $.ajax({
                type: "POST",
                url: url,
                data: $("form").serialize(),
                success: function (data) {
                    $('#dialogContent').html(data);

                    var banResultLabel = $('#create_result');
                    banResultLabel.text(data.msg);
                    banResultLabel.fadeTo(10, 1);
                }
            });

            e.preventDefault();
        });
    </script>
</div>

