@model WebApp.Models.Domains.Requests.RequestsViewModel
@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "requests";
    int requestCount = 1;
    int scalar = 0;
    if (Model.CurrentPageNumber != 1)
    {
        scalar = Model.CurrentPageNumber * Model.ItemsPerPage - Model.ItemsPerPage;
    }
}

<div class="row lb-margin">
    @if (ViewBag.Result != null && !ViewBag.Result)
    {
        <div class="row">
            <div class="span">ViewBag.ResultMsg.ToString()</div>
        </div>
    }
    else
    {
        if (User.IsInRole("User"))
        {
            <div class="row">
                <a href="@Url.Action("Create", "Requests")" class="btn btn-info" role="button">Create request</a>
            </div>
        }
        <div class="rows lb-margin">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Info</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var request in Model.Requests)
                {
                            <tr>
                                <td>@(requestCount++ + scalar)</td>
                                <td>@request.Text</td>
                                <td>
                                    <a href="@Url.Action("Show", "Requests", new {id = request.Value})" class="btn btn-info" role="button">Просмотреть</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <nav>
                    <ul class="pager">
                        @if (Model.CurrentPageNumber == 1)
                        {
                            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        }
                        else
                        {
                            <li class="previous"><a href="@Url.Action("Index", "Requests", new {page = @Model.CurrentPageNumber - 1})"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        }
                        @if (Model.CurrentPageNumber == Model.AllPageCount)
                        {
                            <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                        }
                        else
                        {
                            <li class="next"><a href="@Url.Action("Index", "Requests", new {page = @Model.CurrentPageNumber + 1})">Next <span aria-hidden="true">&rarr;</span></a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    }
</div>

<div id="requestInfoModal" title="Create Album" style="overflow: hidden;">
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        jQuery(document).ready(function ($) {

            @*$('.btn-modal').click(function () {
                var link = "@Url.Action("Show", "Requests", new { id ="-1" })";
                link = link.replace("-1", this.id);
                
                $('#requestInfoModal').dialog({
                    title: 'hi there',
                    autoOpen: false,
                    resizable: false,
                    height: 355,
                    width: 400,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(this).load(link);
                    },
                    buttons: {
                        "Close": function() {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#requestInfoModal").dialog('open');
                return false;
            });*@
        });
    </script>
}

