@model WebApp.Models.Domains.Requests.RequestsViewModel
@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "requests";
    int requestCount = 1;
}

<div class="row">
    @if (!string.IsNullOrEmpty(ViewBag.Result))
    {
        <div class="row">
            <div class="span">ViewBag.Result.ToString()</div>
        </div>
    }
    @if (User.IsInRole("User"))
    {
        <div class="row">
            <a href="@Url.Action("Create", "Requests")" class="btn btn-info" role="button">Create request</a>
        </div>
    }
    <div class="row lb-margin">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Info</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var request in Model.Requests)
                {
                    <tr>
                        <td>@(requestCount++)</td>
                        <td>@request.Text</td>
                        <td>
                            <a href="@Url.Action("Show", "Requests", new {id = request.Value})" class="btn btn-info" role="button">Просмотреть</a>
                            @*<button id="@request.Value" type="button" class="btn btn-primary btn-lg btn-modal">
                                Просмотреть
                            </button>*@
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="requestInfoModal" title="Create Album" style="overflow: hidden;">
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        jQuery(document).ready(function ($) {

            @*$('.btn-modal').click(function () {
                var link = "@Url.Action("Show", "Requests", new { id ="-1" })";
                link = link.replace("-1", this.id);
                
                $('#requestInfoModal').dialog({
                    title: 'hi there',
                    autoOpen: false,
                    resizable: false,
                    height: 355,
                    width: 400,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(this).load(link);
                    },
                    buttons: {
                        "Close": function() {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#requestInfoModal").dialog('open');
                return false;
            });*@
        });
    </script>
}

