@model WebApp.Models.Domains.Requests.RequestsViewModel
@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "requests";
    int requestCount = 1;
    int scalar = 0;
    if (Model.CurrentPageNumber != 1)
    {
        scalar = Model.CurrentPageNumber * Model.ItemsPerPage - Model.ItemsPerPage;
    }
}

<div class="row lb-margin">
    @if (ViewBag.Result != null && !ViewBag.Result)
    {
        <div class="row">
            <div class="span">@ViewBag.ResultMsg.ToString()</div>
        </div>
    }
    else
    {
        if (ViewBag.isUserNotRegister != null && ViewBag.isUserNotRegister && User.IsInRole("User"))
        {
            <div class="row">
                <h4>
                    <span class="label label-danger">@Html.ActionLink("Your need adding info about you", "UserInfo", "User")</span>
                </h4>
            </div>
        }
        else
        {

            if (User.IsInRole("User"))
            {
                if (ViewBag.isUserBanned != null && ViewBag.isUserBanned)
                {
                    <div class="row">
                        <span class="label label-default"> Your Account is blocked</span>
                    </div>
                }
                else
                {
                    <div class="row">
                        <a href="@Url.Action("Create", "Requests")" class="btn btn-info" role="button">Create request</a>
                    </div>
                }
            }
        }
        <div class="rows lb-margin">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Info</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var request in Model.Requests)
                        {
                            <tr>
                                <td>@(requestCount++ + scalar)</td>
                                <td>@request.Text</td>
                                <td>
                                    <a href="@Url.Action("Show", "Requests", new {id = request.Value})" class="btn btn-info show-request" data-loading-text="Loading..." role="button">Просмотреть</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <nav>
                    <ul class="pager">
                        @if (Model.CurrentPageNumber == 1)
                        {
                            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        }
                        else
                        {
                            <li class="previous"><a href="@Url.Action("Index", "Requests", new {page = @Model.CurrentPageNumber - 1})"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        }
                        @if (Model.CurrentPageNumber == Model.AllPageCount || Model.AllPageCount == 0)
                        {
                            <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                        }
                        else
                        {
                            <li class="next"><a href="@Url.Action("Index", "Requests", new {page = @Model.CurrentPageNumber + 1})">Next <span aria-hidden="true">&rarr;</span></a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    }
</div>

<div id="requestInfoModal" class="modal fade" title="Create Album">
    <div id="dialogContent" class="modal-dialog">
    </div>
</div>

@section Scripts {
    <script>
        jQuery(document).ready(function($) {
            $(".show-request").click(function (e) {

                var $btn = $(this).button('loading');

                e.preventDefault();
                $.get(this.href, function(data) {
                    $('#dialogContent').html(data);
                    $('#requestInfoModal').modal('show');
                });

                $btn.button('reset');
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}

