@model WebApp.Models.Domains.Requests.RequestViewModel
@{
    Layout = null;
}

<div class="row">
    @Html.LabelFor(m => m.CreditInfo)
    <div class="panel-info">
        @Model.CreditInfo
    </div>
</div>
<div class="row">
    @Html.LabelFor(m => m.CreditInfo)
    <div class="panel-info">
        @Model.CreditInfo
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("ConfirmRequest", "Requests", FormMethod.Post,
                  new { id = Model.RequestId }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.RequestId"/>
        <button type="submit">Confirm</button>
    }
    @*<a href="@Url.Action("ConfirmRequest", "Requests", new {id = Model.RequestId})">Confirm</a>*@
</div>
<div class="row">
    @using (Html.BeginForm("DiscartRequest", "Requests", FormMethod.Post,
                          new { id = Model.RequestId }))
    {
        @Html.AntiForgeryToken()
        <button type="submit">Discart</button>
    }
    @*<a href="@Url.Action("DiscartRequest", "Requests", Model.RequestId)">Discart</a>*@
</div>