@model WebApp.Models.Domains.Requests.RequestViewModel
@{
    ViewBag.Title = "request page";
}

<div class="row lb-margin">
    <div class="row">
        <div class="row">
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.Number)</td>
                <td>@Model.Number</td>
            </tr>
            <tr>
            <tr>
                <td>@Html.LabelFor(m => m.CreditInfo)</td>
                <td>@Model.CreditInfo</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.CreditType)</td>
                <td>
                    <a href="@Url.Action("Show", "CreditTypes", new {id = Model.CreditType.Id})" class="show-request" role="button">@Model.CreditType.Name</a>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Confirm)</td>
                <td>
                    @if (Model.Confirm == 0)
                    {
                        <div>
                            <span class="label label-default">Opened</span>
                        </div>
                    }
                    @if (Model.Confirm == 1)
                    {
                        <div>
                            <span class="label label-warning">Confirm</span>
                            <a href="@Url.Action("Show", "Credits", new {id = Model.CreditId})">show credit page</a>
                        </div>
                    }
                    @if (Model.Confirm == 2)
                    {
                        <div>
                            <span class="label label-warning">Discarted</span>
                        </div>
                    }
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.UserInfo)</td>
                <td>-</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.UserInfo.Name)</td>
                <td>@Model.UserInfo.Name</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.UserInfo.SecondName)</td>
                <td>@Model.UserInfo.SecondName</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.UserInfo.LastName)</td>
                <td>@Model.UserInfo.LastName</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.UserInfo.Email)</td>
                <td>@Model.UserInfo.Email</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ScoringIndex)</td>
                <td>
                    @if (Model.ScoringIndex < 0)
                    {
                        <span class="label label-danger">@Model.ScoringIndex</span>
                    }
                    @if (Model.ScoringIndex > 0 && Model.ScoringIndex <= 10)
                    {
                        <span class="label label-warning">@Model.ScoringIndex</span>
                    }
                    @if (Model.ScoringIndex > 10)
                    {
                        <span class="label label-success">@Model.ScoringIndex</span>
                    }
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.IncomeImagePresented)</td>
                <td>
                    @if (Model.IncomeImagePresented)
                    {
                        @*<img src="data:image;base64,@Convert.ToBase64String(Model.IncomeImage)" alt="" width="100px" height="100px"/>*@
                        <a href="@Url.Action("Income", "Images", new {id = Model.Id})" target="_blank">
                            <img src="@Url.Action("Income", "Images", new {id = Model.Id})" alt="" width="100px" height="100px"/>
                        </a>
                    }
                    else
                    {
                        <img src="" alt="" width="100px" height="100px"/>
                    }
                </td>
            </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.GuarantorImagePresented)</td>
                    <td>
                        @if (Model.GuarantorImagePresented)
                        {
                            <a href="@Url.Action("Garantor", "Images", new {id = Model.Id})" target="_blank">
                                <img src="@Url.Action("Garantor", "Images", new {id = Model.Id})" alt="" width="100px" height="100px" />
                            </a>
                        }
                        else
                        {
                            <img src="" alt="" width="100px" height="100px" />
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @if (Model.Confirm == 0 && !User.IsInRole("User"))
    {
        <div class="col-md-1"></div>
        <div class="row col-md-2">
            @using (Html.BeginForm("ConfirmRequest", "Requests", FormMethod.Post,
                new {id = Model.Id}))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@Model.Id"/>
                <button type="submit" class="btn btn-success">Confirm</button>
            }
        </div>
        <div class="row col-md-1">
            @using (Html.BeginForm("DiscartRequest", "Requests", FormMethod.Post,
                new {id = Model.Id}))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@Model.Id"/>
                <button type="submit" class="btn btn-danger">Discart</button>
            }

        </div>
    }
</div>
<div id="requestInfoModal" class="modal fade" title="Create Album">
    <div id="dialogContent" class="modal-dialog">
    </div>
</div>
<div class="load-icon"></div>

@section Scripts {
    <script type="text/javascript">

        $body = $("body");

        //$(document).on({
        //    ajaxStart: function () { $body.addClass("loading"); },
        //    ajaxStop: function () { $body.removeClass("loading"); }
        //});

        jQuery(document).ready(function($) {
            $(".show-request").click(function(e) {

                e.preventDefault();
                $body.addClass("loading");
                $.get(this.href, function(data) {
                    $('#dialogContent').html(data);
                    $body.removeClass("loading");
                    $('#requestInfoModal').modal('show');
                });
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}