<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
                @*@Html.Partial("_LoginPartial")*@
    <h1 class="lb-center">
        <p class="lb-main_text">Lalka Bank</p>
    </h1>
    <div class="lb-main">

        <div class="lb-container" id="lb-area">
            <h2>@ViewBag.Title</h2>
            <b><a class="lb-area" href="@Url.Action("Index", "Home")">Moя страница</a></b>
            <b><a class="lb-area" href="">Кредиты</a></b>
            <b><a class="lb-area" href="#">Заявки</a></b>
            <b><a class="lb-area" href="@Url.Action("Index", "Messages")">Сообщения</a></b>
            <b>@Html.Partial("_LoginPartial")</b>
        </div>
        <div class="row">
            @RenderBody()
            <hr />
            <footer>
                <p class="panel-footer" style="text-align: center;">
                    &copy; @DateTime.Now.Year - Lalka Bank
                </p>
            </footer>
        </div>
       </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
