@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  - Lalka Bank</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h1 class="lb-center">
        <p class="lb-main_text">Lalka Bank</p>
    </h1>
    <div class="lb-main">
        @if (Request.IsAuthenticated)
        {
            <div class="lb-container" id="lb-area">
                <b>
                    @User.Identity.Name
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right"}))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        }
                    }
                </b>
                <b><a class="lb-area" href="@Url.Action("Index", "Home")">My Page</a></b>
                @if (User.IsInRole("Admin"))
                {
                    <b><a class="lb-area" href="@Url.Action("Index", "Home")">Участники</a></b>
                    {
                        <b><a class="lb-area" style="margin-left: 20px;" href="@Url.Action("UsersList", "Admin")">Users</a></b>
                        <b><a class="lb-area" style="margin-left: 20px;" href="@Url.Action("ManagersList", "Admin")">Managers</a></b>
                    }
                }
                <b><a class="lb-area" href="@Url.Action("Index", "Credits")">Credits <span id="badge_actives_credits" class="badge"></span></a></b>
                @{
                    <b><a class="lb-area" style="margin-left: 20px;" href="@Url.Action("Closeds", "Credits")">Closeds</a></b>
                    <b><a class="lb-area" style="margin-left: 20px;" href="@Url.Action("Overdues", "Credits")">Overdues <span id="badge_overdues_credits"class="badge"></span></a></b>
                    <b><a class="lb-area" style="margin-left: 20px;" href="@Url.Action("Search", "Credits")">Search</a></b>
                }
                @{
                    <b><a class="lb-area" style="margin-left: 20px;" href="@Url.Action("Index", "CreditTypes")">Credit types</a></b>
                }
                <b><a class="lb-area" href="@Url.Action("Index", "Requests")">Request</a></b>
                @{
                    <b><a class="lb-area" style="margin-left: 20px;" href="@Url.Action("Find", "Requests")">Search</a></b>
                }
                <b><a class="lb-area" href="@Url.Action("Index", "Messages")">Messages</a></b>
            </div>
        }
        <div class="row">
            <div class="row">
                <h1 class="lb-center">
                </h1>
                <div class="lb-main">
                    <div class="lb-central_pos">
                        <div class="lb-container">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <footer>
                <div style="margin: auto 30% auto 45%; text-align: center">
                    <div class="panel-footer" style="margin: 0px auto;">
                        &copy; @DateTime.Now.Year - Lalka Bank
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $.ajax({
                url: '@Url.Action("GetActivesCreditCount", "Credits")',
                type: 'GET',
                success: function (data) {
                    if (data.result > 0) {
                        $('#badge_actives_credits').text(data.result);
                    }
                }
            });

            $.ajax({
                url: '@Url.Action("GetOverduesCreditCount", "Credits")',
                type: 'GET',
                success: function (data) {
                    if (data.result > 0) {
                        $('#badge_overdues_credits').text(data.result);
                    }
                }
            });
        });
    </script>
</body>
</html>
